DATABASE_URL=URL_YOUR_MONGODB
JWT_SECRET=your-jwt-secret-key-here
ACCOUNT_EMAIL=admin@vieshop.com
ACCOUNT_PASSWORD=your-secure-password
CACHE_SECRET=your-cache-secret-key-here
CHROME_EXECUTABLE_PATH=
GOOGLE_PROXY_URL=
GOOGLE_AI_API_KEY=
NEXT_PUBLIC_API_URL=http://localhost:3000
