DATABASE_URL=mongodb://mongodb:27017/vieshop?replicaSet=rs0
JWT_SECRET=your-jwt-secret-key-here
CACHE_SECRET=your-cache-secret-key-here
ACCOUNT_EMAIL=admin@vieshop.com
ACCOUNT_PASSWORD=123456
CHROME_EXECUTABLE_PATH=/usr/bin/chromium
PORT=3000
