[MAIN]
ignore=.git,__pycache__,venv,.venv
jobs=1
ignored-modules=ultralytics
extension-pkg-allow-list=cv2

[TYPECHECK]
generated-members=cv2.*

[MESSAGES CONTROL]
disable=
    C0111,
    C0103,
    R0903

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_,app,db
