<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <!-- Tắt hoàn toàn log nhị phân HTTP wire của Apache HttpClient -->
    <logger name="org.apache.hc" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="io.github.bonigarcia" level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>
</configuration>
